.bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  background-color: #2E365B;
  color: white;
  padding: 60px 11px 15px;
  transform: translateX(100%);
  border-radius: 0 0 7px 7px;
  box-sizing: border-box;
  overflow: hidden;

  h4 {
    font-size: 18px;
  }

  html {
    direction: ltr;
  }
}

.hide {
  animation: 0.5s hide-bar 0s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;

  @keyframes hide-bar {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
    }
  }
}

.show {
  animation: 0.5s show-bar 0s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;

  @keyframes show-bar {
    from {
      transform: translateX(100%);
    }

    to {
      transform: translateX(0);
    }
  }
}








.fa {
  position: fixed;
  top: 10px;
  left: 10px;
  font-size: 35px;
  color: #2E365B;
  padding: 5px;
  z-index: 1000000000;

  &.fa__clicked {
    color: #fff;
    animation: 0.5s fa-right 0s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;

    @keyframes fa-right {
      from {
        right: 10px;
      }

      to {
        right: 100%;
        transform: translateX(calc(100% + 40px));
      }
    }
  }
}

.bar-container {
  width: 100%;
  background-color: #2E365B;
  padding: 45px 11px 15px;
  height: 180px;
  border-radius: 0 0 7px 7px;
  box-sizing: border-box;

  h3 {
    color: #fff;
    cursor: pointer;
    outline: none;
  }

  .mat-list-base {
    height: 100%;
    padding: 0;
  }
}

.logout-container {
  display: flex;
  align-items: center;
  margin-top: 5px;

  img {
    height: 20px;
    margin-left: 5px;
  }
}

@media (min-width: 1200px) {
  .bar-container {
    width: 300px;
    left: 0;
    height: 100%;
    padding: 70px 11px 15px;
    border-radius: 0;
  }

  .logout-container {
    position: absolute;
    bottom: 12px;
  }
}
