.output-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  margin: 16px auto 0;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 20px;
  filter: drop-shadow(#00000045 3px 3px 10px);

  img {
    position: absolute;
    height: 18px;
    top: 5px;
    left: 3px;
    padding: 8px;
  }

  .header {
    width: calc(100% - 20px);
  }

  .body {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.courses-grid {
  display: grid;
  flex-wrap: wrap;
  margin-top: 28px;
}

// -------------------------------------

h5 {
  text-align: center;
  margin: 0 5px;
  flex-grow: 1;
}

h4 {
  font-weight: 800;

  span {
    font-weight: 300;
  }
}

hr {
  width: 1px;
  background-color: #2E365B;
  margin: 0px;
  border: none;
}

.note {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 500;
  text-align: center;
  color: #61687F;
  margin-bottom: 120px;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.didnt-save {
  margin: 120px 15px 0;

  h1 {
    font-weight: 500;
    text-align: center;
    color: #61687F;
  }

  img {
    width: 26px;
    display: block;
    margin: 5px auto 0;
  }
}

@media (max-width: 330px) {
  .didnt-save {
    img {
      width: 20px;
    }
  }
}

@media (min-width: 1200px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fill, 520px);
    grid-gap: 17px;
    justify-content: space-evenly;
    column-gap: 45px;
  }

  .note {
    text-align: right;
    width: fit-content;
    margin-right: 35px;
  }

  .didnt-save {
    img {
      width: 30px;
    }
  }
}
