
<div class="message" [ngClass]="cssClass">
    <h4>{{alertText}}</h4>
</div>

<app-page-header [iconUrl]="'../../../assets/images/' + isFavorite" [title]="'קורס '" [title_span]="course.courseNumber"
    [subtitle]="course.courseName" (selectedPage)="pageNavigate($event)" (iconClicked)="removeOrAddToFavorite($event)"></app-page-header>


<div class="info-grid">    
    <div class="course-output">
        <h4>{{course.courseDescription}}
        <span>משך ההכשרה- {{course.courseTime}}</span>
        <span *ngIf="course.note">שים לב ♡, {{course.note}}</span></h4>
    </div>
    
    <object #mapObject type="image/svg+xml" class="map" [class.map__size]="changeMap" data="assets/images/maxMap.svg"></object>
    <img #mapAllBases src="../../../../assets/images/miniMap.svg" *ngIf="!changeMap" class="map" [class.map__size]="true">
    
    <h4 class="bases-grid">הבסיסים בהם ניתן לשרת הם- 
        <span *ngFor="let base of course.courseBases">• {{base}}</span>
    </h4>
    
    <div class="youtube-container">
        <iframe class="youtube-video" [src]="course.youTubeURL | safeUrl"></iframe>
    </div>
</div>