h2 {
  font-weight: 450;
  margin-bottom: 10px;
}

h4 {
  margin: 8px auto 8px;
  cursor: pointer;
}

.course-container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  filter: drop-shadow(#00000045 3px 3px 10px);
}
