<app-home-page *ngIf="selectedPage === 'home-page'" (selectedPage)="selectedPage = $event" [page]="selectedPage"
    (selectedCourse)="selectedCourse = $event" (selectedCycle)="selectedCycle = $event"></app-home-page>


<div class="background-container" *ngIf="selectedPage != 'home-page'">
    
    <app-search-output *ngIf="selectedPage === 'output-page'" [courseNumber]="selectedCourse"
    (selectedPage)="selectedPage = $event"></app-search-output>

    <app-my-favorites *ngIf="selectedPage === 'my-favorites'" 
    (selectedPage)="selectedPage = $event" (selectedCourse)="selectedCourse = $event"></app-my-favorites>

    <app-sorting-cycle *ngIf="selectedPage === 'sorting-cycle'" [selectedSortingCycle]="selectedCycle"
    (selectedPage)="selectedPage = $event" (selectedCourse)="selectedCourse = $event"></app-sorting-cycle>

    <app-preference-form *ngIf="selectedPage === 'preference-form'" 
    (selectedPage)="selectedPage = $event"></app-preference-form>

    <app-block-page *ngIf="selectedPage.slice(0, 5) === 'block'" 
    (selectedPage)="selectedPage = $event" [page]="selectedPage"></app-block-page>

    <app-management *ngIf="selectedPage === 'management'"></app-management>
</div>




<img src="../assets/images/home.svg" style="width: 0;">
<img src="../assets/images/favorite.svg" style="width: 0;">
<img src="../assets/images/notFavorite.svg" style="width: 0;">
<img src="../assets/images/remove.svg" style="width: 0;">
<img src="../assets/images/miniMap.svg" style="width: 0;">
<img src="../assets/images/maxMap.svg" style="width: 0;">
<img src="../assets/images/loading.png" style="width: 0;">

