.list-container {
  position: relative;
  right: 0;
  top: -2px;
  max-height: 30vh;
  overflow-y: auto;
  font-size: 14rem;
  font-weight: 500;
  color: #2E365B;
  background: rgb(255, 255, 255);
  border: 2px solid #2E365B;
  border-bottom-left-radius: 30rem;
  border-bottom-right-radius: 30rem;
  box-sizing: border-box;
  z-index: 100000000;

  &::-webkit-scrollbar {
    width: 0;
    color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
  }

  .list-item {
    padding: 12rem 8rem;
    border-top: 0px solid #fff;
    border-right: 0px solid #fff;
    border-bottom: 2px solid rgb(89, 101, 112);
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
    margin-left: 20px;

    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #61687f, #61687f00);

    &:last-child {
      border-bottom: 0px solid #fff;
    }

    &:hover {
      background: rgba(48, 90, 168, 0.15);
    }
  }
}

@media (min-width: 1200px) {
  .list-container {
    max-height: 35vh;
    font-size: 17rem;
  }
}
