<ng-container *ngFor="let sortingCycle of sortionCycles?.cycles; let i = index">    

    <div class="blob" (click)="blobToggle(i)">
        <h4 *ngIf="sortingCycle.status === 2 || sortingCycle.status === 3" [class.h4__bold]="sortingCycle.isExpand">מחזור {{sortingCycle.name}}</h4>
        <h4 *ngIf="sortingCycle.status === 0 || sortingCycle.status === 1" [class.h4__bold]="sortingCycle.isExpand">מחזור {{sortingCycle.name}} (מופיע באתר)</h4>
        
        <img src="../../../../assets/images/arrowReadMore.png" class="expand-icon" *ngIf="!sortingCycle.isExpand">
        <img src="../../../../assets/images/arrowReadLess.png" class="expand-icon" *ngIf="sortingCycle.isExpand">

        <ng-container *ngIf="sortingCycle.isExpand">
            <ng-container *ngFor="let option of sortionCycles?.expandOptions; let y = index"> 
                <h4 (click)="optionClicked(y, i)">{{option.option}}</h4>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<div class="blob" *ngIf="page.url === 'sorts'" style="background-color: rgb(255, 255, 255); padding: 10px;" (click)="selectedPage.emit({ text: 'יצירת מחזור מיון חדש', url: 'create-new-cycle' })">
    <img src="../../../../assets/images/addIcon.png" class="add-cycle">
</div>