@import "./app/fonts/hebbo-font.scss";

html,
body {
  height: 100%;
  font-size: 1px;
  direction: rtl;
  font-family: 'Heebo', sans-serif;
  // caret-color: transparent;
}

body {
  margin: 0;
  background-color: #fff;
  zoom: 0;
}


.button-appearence {
  cursor: pointer;
  transition: .4s ease-in;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
    filter: contrast(.9);
  }
}

input {
  font-family: 'Heebo', sans-serif;
  zoom: 0;
}

button {
  font-family: 'Heebo', sans-serif;
}

h1 {
  font-size: 30rem;
  font-weight: 900;

  span {
    font-size: 27rem;
  }
}

h2 {
  font-size: 20rem;
  font-weight: 300;
}

h3 {
  font-size: 18rem;
  font-weight: 300;
  margin: 0;
}

h4 {
  font-size: 16rem;
  font-weight: 300;
  margin: 0;
}

h5 {
  font-size: 13rem;
  margin: 0;
  font-weight: 300;
}

h1,
h2,
h4 {
  color: #2E365B;
  margin: 0cm;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 36rem;

    span {
      font-size: 30rem;
    }
  }

  h2 {
    font-size: 22rem;
  }

  h3 {
    font-size: 20rem;
  }

  h4 {
    font-size: 20rem;
  }

  h5 {
    font-size: 15rem;
  }
}

@media (max-width: 330px) {
  h1 {
    font-size: 24rem;

    span {
      font-size: 21rem;
    }
  }

  h2 {
    font-size: 16rem;
  }

  h4 {
    font-size: 14rem;

    span {
      font-size: 14rem;
    }
  }

  h5 {
    font-size: 11rem;
  }
}
